<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppBundleID</key>
	<string>ws.hbang.toggler</string>
	<key>CFBundleDisplayName</key>
	<string>Toggler</string>
	<key>CFBundleIdentifier</key>
	<string>ws.hbang.toggler</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Toggler</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>MinimumOSVersion</key>
	<string>5.0</string>
	<key>NSPrincipalClass</key>
	<string>HBTGWeeAppController</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>height</key>
	<integer>40</integer>
	<key>layers</key>
	<array>
		<dict>
			<key>type</key>
			<string>glyph</string>
			<key>size</key>
			<integer>30</integer>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>6</integer>
			<key>opacity</key>
			<real>0.6</real>
			<key>color</key>
			<string>#000000</string>
			<key>blur</key>
			<real>0.75</real>
		</dict>
		<dict>
			<key>type</key>
			<string>glyph</string>
			<key>size</key>
			<integer>30</integer>
			<key>x</key>
			<integer>11</integer>
			<key>y</key>
			<integer>5</integer>
			<key>opacity</key>
			<real>1</real>
			<key>color</key>
			<string>#ff0000</string>
			<key>fileName</key>
			<string>fill</string>
		</dict>
	</array>
	<key>width</key>
	<integer>52</integer>
</dict>
</plist>
